<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>新乡市中富科技股份有限公司</title>
    <script src="/js/jquery.min.js"></script>
    <link rel='stylesheet' href='/css/reset-min.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <span class="head-left pull-left">
                    您好，欢迎进入新乡市中富科技股份有限公司官网！
                </span>
                <span class="head-right pull-right hidden-xs">
                    <span>咨询电话:0373-7722828</span>
                    <a data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        移动手机网站
                    </a>
                    <a data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        微信公众号
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <img class="modal-img" src="./images/chart.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
<section class="nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <a href="/"><img class="logo" src="/images/logo.jpg" alt=""></a>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 nav-list">
                <a href="/">网站首页</a>
                <a href="/about">关于我们</a>
                <a href="/products">产品工艺</a>
                <a href="/news">新闻动态</a>
                <a href="/sale">销售网络</a>
                <a href="/service">售后服务</a>
                <a href="/recruit">人才招聘</a>
                <a href="/contact">联系我们</a>
            </div>
            <span class="glyphicon glyphicon-align-justify menu"></span>
        </div>
    </div>
</section>
{{{body}}}
<section class="end">
    <div class="container">
        <div class="row">
            <div class="col-md-12 end-box">
                <div class="col-md-6 end-left hidden-xs">
                    <span class="tel-abs">15838089292</span>
                    <p>地址：新乡市延津县榆东产业集聚区经14路四季同达生态园对面</p>
                    <p>手机：15838089292 电话：0373-7722828</p>
                    <p>邮箱：</p>
                    <p>分享与关注：</p>
                    <p>
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                    <script>window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdPic": "",
                            "bdStyle": "0",
                            "bdSize": "16"
                        }, "share": {}
                    };
                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                    </p>
                </div>
                <div class="col-md-6 end-right">
                    <h4>联系我们</h4>
                    <p>请留下您的联系方式 以及问题 我们后期会有专业的客服与您联系</p>
                    <form>
                        <input type="text" placeholder="姓名">
                        <input type="text" placeholder="地址">
                        <input type="text" placeholder="电话">
                        <textarea name="" id="" cols="30" rows="10" style="resize: none"></textarea>
                        <input type="text" placeholder="验证码">
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="pull-left foot-left">
                    <a href="/about">关于我们</a>
                    <a href="/products">产品工艺</a>
                    <a href="/news">新闻动态</a>
                    <a href="/contact">联系我们</a>
                </span>
                <span class="pull-right foot-right">
                    CopyRight 2016 新乡市中富科技股份有限公司 All Rights Reserved
                    <img src="/images/zztj.gif" alt="">
                </span>
            </div>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
<script>
    /*$('.nav-list a').each(function (i) {
        $(this).delay(50 * i).animate({
            opacity: 1,
            "padding-top": '35px'
        })
    })*/
    $('.menu').click(function () {
        $('.nav-list').slideToggle();
    })
    window.onresize = function () {
        if (document.documentElement.clientWidth >= 768) {
            $('.nav-list').css({display: 'block'});
        } else {
            $('.nav-list').css({display: 'none'});
        }
    }
</script>
</body>
</html>
