<link rel="stylesheet" href="css/sale.css">
<div class="container sale mt">
    <h1 class="text-center">销售网络</h1>
    <p class="text-center">面向全国，开拓国际市场，及时为客户提供全方位咨询和解决方案，全力构建中富科技营销大网络</p>
   <div class="row ">
       <div class="col-lg-12">
            <img src="./images/map.png" alt="" class="img-responsive center-block">
       </div>
   </div>
</div>