<link rel="stylesheet" href="css/service.css">
<div class="container service mt">
    <div class="row title">
        <h1 class="text-center">售后服务</h1>
        <p class="text-center">本着追求高质量、高品质、用户满意的宗旨。以周到的服务、可靠的产品质量为您服务</p>
    </div>

    <div class="row">
       <div class="col-lg-8">
           <div class="row">
               <div class="col-lg-6 lage col-sm-6 col-xs-12">
                   <img src="/images/service_01.png" class="img-responsive" alt="">
               </div>
               <div class="col-lg-6 lage col-sm-6 col-xs-12">
                   <img src="/images/service_02.png" class="img-responsive" alt="">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-6 lage col-sm-6 col-xs-12">
                   <img src="/images/service_03.png " class="img-responsive" alt="">
               </div>
               <div class="col-lg-6 lage col-sm-6 col-xs-12">
                   <img src="/images/service_04.png" class="img-responsive" alt="">
               </div>
           </div>
       </div>
       <div class="col-lg-4">
           <img src="/images/service_567.png" alt="" class="img-responsive middle">
       </div>
   </div>

    <div class="row">
        <dl class="center-block">
            <dt>售前服务</dt>
            <dd>1、我公司可以为客户提供最完善的售前咨询，了解客户需求并提供定制服务。</dd>
            <dd>2、专业人员提供设计方案与咨询服务，推荐最适合客户实际需要的产品。</dd>
            <dt>售中服务</dt>
            <dd>1、为用户提供全面的技术支持，配合用户选型，提供最经济合理的方案。</dd>
            <dd>2、我们保证按照合同规定的交货期为您及时送货。</dd>
            <dt>售后服务</dt>
            <dd>1、质量保修期：在质保期内，用户将享受无偿服务。</dd>
            <dd>2、提供免费的技术与服务咨询。</dd>
        </dl>
    </div>

</div>